<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<table>
  <td><%= @move.start_position.capitalize %></td>
  <td><%= @move.type_of_move.capitalize %></td>
  <td><%= @move.description.capitalize %></td>
</table>
<p></p>
<a href="/moves/<%=@move.id%>/edit"><button type="button">edit move</button></a>
<p></p>
<form action="/moves/<%= @move.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
<a href="/logout"><button type="button">Logout</button></a>
<a href="/home"><button type="button">Home</button></a>
